@using Warhammer.Core.Entities
@model Warhammer.Core.Entities.Session
    
@if (ViewBag.EditMode)
{
    @Html.Action("EditSessionArc", "Page", new { id = Model.Id })
}
else
{
    if (((Session)Model).Arc != null)
    {
        <div class="panel panel-info session-arc-panel">
            <div class="panel-heading">Story Arc</div>
            <div class="panel-body">
                <a href="@Url.Action("Index", "Page", new { id = Model.ArcId.GetValueOrDefault() })">@(Model.Arc.FullName)</a>  
            </div>
        </div>
    }
}
