@{
    ViewBag.Title = "Edit Arc Sessions";
}
<div class="content-wrapper">

    <div class="main-content">
        <div class="content-block">
            <h2>Edit Arc Sessions For TODO</h2>
            



        </div>
    </div>

    <div class="side-bar">
        <div class="content-block">
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
