@model List<Warhammer.Core.Entities.Award>


<div class="content-block" id="awardHistory">
    <h3>Award History</h3>
    <table class="table">
        <tbody class="list">
        @Html.DisplayFor(m => Model)
        </tbody>
    </table>
</div>
<hr />
