@model Warhammer.Mvc.Models.PersonDetailsViewModel

<div class="alert alert-info" id="PersonDetailsPanel">
 
    @if (ViewBag.EditMode)
    {
        @Html.EditorForModel()
    }
    else
    {
        @Html.DisplayForModel()
    }
       
</div>


