@model DotNet.Highcharts.Highcharts

@(Model)


@*@model List<Warhammer.Core.Entities.ScoreHistory>
<h2>This is the score bit</h2>
<div id="container" style="width: 100%; height: 400px;"></div>

@{
    List<DateTime> dates = Model.Select(s => s.DateTime).ToList();
    dates = dates.Distinct().ToList();
    dates = dates.OrderBy(d => d).ToList();
    string category = "'" + string.Join("', '", dates.Select(d => d.ToShortDateString())) + "'";



}



<script>
    $(function () {
        $('#container').highcharts({
            chart: {
                type: 'area'
            },
            title: {
                text: 'Fruit Consumption'
            },
            xAxis: {
                categories: [@Html.Raw(category)]
            },
            yAxis: {
                title: {
                    text: 'Score History'
                }
            },
            tooltip: {
                shared: true,
                valueSuffix: ' points'
            },
            plotOptions: {
                area: {
                    stacking: 'normal',
                    lineColor: '#666666',
                    lineWidth: 1,
                    marker: {
                        lineWidth: 1,
                        lineColor: '#666666'
                    }
                }
            },
            series: [{
                name: 'Jane',
                data: [12]
            }, {
                name: 'John',
                data: [532]
            }]
        });
    });

</script>*@