@using Warhammer.Core.Entities
@using Warhammer.Mvc.Models
@model Warhammer.Mvc.Models.ArcSessionsViewModel

<div class="content-block session-block">
    <ul class="session-list">
        @Html.DisplayFor(m => Model.Sessions)
    </ul>>
</div>