@using Warhammer.Core.Extensions
@model Warhammer.Core.Entities.Arc

<div class="content-block">
    <div class="panel panel-info">
        <div class="panel-heading">Arc Start Date</div>
        <div class="panel-body">The @Model.StartGameDate.ToWarhammerDateString()</div>
        <div class="panel-footer">@Model.StartGameDate.ToRealDateString()</div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">Current Arc Date</div>
        <div class="panel-body">The @Model.CurrentGameDate.ToWarhammerDateString()</div>
        <div class="panel-footer">@Model.CurrentGameDate.ToRealDateString()</div>
    </div>
</div>
