@{
    ViewBag.Title = "Forgot Password Confirmation";
}


<div class="content-wrapper">

<div class="banner-content">
    <div class="header-block">
        <h1 id="fullName">@ViewBag.Title.</h1>
    </div>

</div>

<div class="main-content">
<div class="content-block session-block">
		
<div>
    <p>
        Please check your email to reset your password.
    </p>
</div>
	
    		
        </div>
    </div>

    <div class="side-bar">
        <div class="content-block">
            <h3>I sent it!</h3>
            <p>A password reset link is on the way!</p>
        </div>
    </div>

</div>