
@using Warhammer.Core.Extensions
@model Warhammer.Core.Entities.PlayerSecret

<div id="details" class="alert alert-warning">
    @if (Model.Player != null)
    {
        <h2>@Model.Player.DisplayName</h2>
    }


    @Html.Raw(Model.Details.ToDisplayFormat())
</div>
