
@{
    ViewBag.Title = "Admin Settings";
}

<div class="content-wrapper">
    <div class="banner-content">
        <div class="header-block">
            <h1 id="fullName">Site Admin Settings</h1>
        </div>

    </div>

    <div class="main-content">
        <div class="content-block">
            @if (ViewBag.EditMode)
            {
                using (Html.BeginForm())
                {
                    <input type="submit" value="Save" class="btn btn-success" />
                    @Html.EditorFor(m => Model)
                    <input type="submit" value="Save" class="btn btn-success" />
                }
            }
            else
            {
                @Html.DisplayFor(m => Model)
            }

        </div>
    </div>

    <div class="side-bar">
        <div class="content-block">
            <h3>Set some Settings</h3>
            <p>There are a few things you can configure about the way the site works. More may be added later. Check here for setting things the way you like them!</p>
            @Html.ActionLink("Return to Features", "Features", null, new { @class = "btn btn-default btn-block" })
        </div>
    </div>

</div>