
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Crow Npc Sheet</title>
    
</head>
<body>
<div>
    <table>
        <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>Descriptors</th>
            <th>Wear</th>
            <th>Harm</th>
        </tr>
        </thead>
        <tbody>
        @Html.DisplayForModel()
        </tbody>
    </table>

</div>
</body>
</html>
