
@{
    ViewBag.Title = "Features";
}

<div class="content-wrapper">
    <div class="banner-content">
        <div class="header-block">
            <h1 id="fullName">Site Feature Settings</h1>
        </div>

    </div>

    <div class="main-content">
        <div class="content-block">
            @Html.Action("FeatureList")
        </div>
    </div>

    <div class="side-bar">
        <div class="content-block">
            <h3>Turn Features Off/On</h3>
            <p>There are a few things you can configure about the way the site works. More may be added later. Check here for setting things the way you like them!</p>
        </div>
    </div>

</div>




