<div id="featureList">
    <h2>Features</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Setting</th>
                <th>Description</th>
                <th style="min-width: 100px;"></th>
                <th style="min-width: 100px;"></th>
            </tr>
        </thead>
        <tbody>
            @Html.EditorFor(m => Model);
        </tbody>

    </table>
</div>
