/*
   02 July 201507:40:37
   User: 
   Server: TRENT\SQLEXPRESS_2012
   Database: Warhammer
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Place
	(
	Id int NOT NULL,
	IsWithin int NULL,
	PlaceType int NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Place ADD CONSTRAINT
	DF_Place_IsWithin DEFAULT 0 FOR IsWithin
GO
ALTER TABLE dbo.Place ADD CONSTRAINT
	PK_Place PRIMARY KEY CLUSTERED 
	(
	Id
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.Place SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.Place', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.Place', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.Place', 'Object', 'CONTROL') as Contr_Per 