<h3>Recent Activity</h3>


<table class="table" id="recentActivity">
    <tbody class="list">
        <tr>
            <td colspan="3">
                <span class="note">This is the most recent stuff that's happend...</span>
            </td>
        </tr>
          @Html.DisplayFor(m => Model)
    </tbody>
</table>
