<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DevSettingsLocation" value="C:\CI TEST SETTINGS\Warhammer\DevTestSettings.x" />
    <add key="CiSettingsLocation" value="C:\CI TEST SETTINGS\Warhammer\CiTestSettings.x" />
    <add key="TestSettingsLocation" value="C:\CI TEST SETTINGS\Warhammer\TestTestSettings.x" />
    <add key="LiveSettingsLocation" value="C:\CI TEST SETTINGS\Warhammer\LiveTestSettings.x" />
    <add key="PirateSettingsLocation" value="C:\CI TEST SETTINGS\Warhammer\PirateTestSettings.x" />
    <add key="SpacePirateSettingsLocation" value="C:\CI TEST SETTINGS\Warhammer\SpaceTestSettings.x" />
  </appSettings>
</configuration>