<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DevSettingsLocation" value="C:\CI TEST SETTINGS\Warhammer\DevTestSettings.x" />
    <add key="CiSettingsLocation" value="C:\CI TEST SETTINGS\Warhammer\CiTestSettings.x" />
    <add key="TestSettingsLocation" value="C:\CI TEST SETTINGS\Warhammer\TestTestSettings.x" />
    <add key="LiveSettingsLocation" value="C:\CI TEST SETTINGS\Warhammer\LiveTestSettings.x" />
    <add key="PirateSettingsLocation" value="C:\CI TEST SETTINGS\Warhammer\PirateTestSettings.x" />
    <add key="SpacePirateSettingsLocation" value="C:\CI TEST SETTINGS\Warhammer\SpaceTestSettings.x" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
