@model Warhammer.Core.Models.PageListItemModel
<tr>
 
    <td>
        @*@Html.Action("PageImage", "Image", new { id = Model.Id })*@
    </td>
    <td>
        <a href="@Url.Action("index", "Page", new { id = Model.Id })">@Model.Fullname <span class="note">(@Model.ShortName)</span></a> 
    </td>
    <td>
    
    </td>
</tr>
