
@model Warhammer.Core.Entities.Page

<tr>
    <td>
        @Html.Action("PageImage", "Page", new { id = Model.Id })
    </td>
    <td>
        @Model.FullName
        @if (Model.ShortName != Model.FullName)
        {<span class="note">(@Model.ShortName)</span>}
    </td>
</tr>
