@model Warhammer.Core.Models.PageListItemModel
    <tr>
        <td>
            @Html.Action("PageImage", "Image", new { id = Model.Id })
        </td>
        <td>@Model.ShortName</td>
        <td>@Model.Fullname</td>
        <td>
            <a href="@Url.Action("index", "Page", new { id = Model.Id })"><span class="note">View</span></a>
        </td>

    </tr>
