@model Exception
@{
    ViewBag.Title = "oops";
}

<div class="content-wrapper">

    <div class="main-content">
        <div class="content-block">
            <h1>Dagnamits! There was an error deleting the page!</h1>
            <h2>That totally didn't work, dude.</h2>

            @if (Model != null)
            {
                <h1 id="error">@Model.Message</h1>
                <p>@Model.StackTrace</p>
                if (@Model.InnerException != null)
                {
                    <p>@Model.InnerException.Message</p>
                }
            }

        </div>
    </div>
</div>
