@model IEnumerable<Warhammer.Core.Entities.AwardNomination>
@{
    ViewBag.Title = "Outstanding Award Nominations";
}

<div class="content-wrapper">
    <div class="banner-content">
        <div class="header-block">
            <h1 id="fullName">Outstanding Award Nominations</h1>
        </div>

    </div>

    <div class="main-content">
        <div class="content-block">

            @if (Model.Any())
            {
                <div class="alert alert-warning">
                    <h1>You have @Model.Count() outstanding nomination@(Model.Count() > 1 ? "s" : "")</h1>
                    <p>So now you gotta decide if these suckers deserve any awards...</p>
                </div>

                    @Html.DisplayForModel()
 
            }
            else
            {
                <div class="alert alert-success">
                    <h1>All Nomination have been processed.</h1>
                    <p>You got nothing to do here!</p>
                </div>

            }
        </div>

    </div>

    <div class="side-bar">
        <div class="content-block">
            <h3>Decide if nominations deserve trophies.</h3>
        </div>
    </div>

</div>


