
@{
    ViewBag.Title = "Random Items and things!";
}

<div class="content-wrapper">
    <div class="banner-content">
        <div class="header-block">
            <h1 id="fullName">Super Mega Randomizer!</h1>
        </div>

    </div>

    <div class="main-content">
        <div class="content-block">
             @Html.ActionLink("Random Person", "Person")
        </div>
    </div>

    <div class="side-bar">
        <div class="content-block">
            <h3>Get your Random on!</h3>
            <p>The Randomizer pages allow the creation of random things.</p>
        </div>
    </div>

</div>