
.LoginRegisterContainer
{
    width: 640px;
    padding: 10px 0 50px 0;
    margin: 0 auto;   
    text-align: center;
}

.LoginRegisterContainer h1
{
    margin: 10px 0 20px 0;
    font-size: 30px;   
}

.LoginRegisterContainer p
{
    font-size: 14px;
    line-height: 20px;    
}

.LoginContainer, .RegisterContainer
{
	width: 258px;
	padding: 19px;
	border: 1px solid #333;
	margin: 10px;
	float: left;
	min-height: 550px;
	text-align: center;
	background-color: #F5F5F5;
}

.MembershipControlContainer table
{
    margin: 0;
    padding: 0;   
    width: 260px !important;
}

.LoginControl td, .PasswordRecoveryControl td, .RegisterControl td
{
    width: 260px;   
    float: left;
}

.LoginLabelStyle, .PasswordRecoveryLabelStyle
{
	display: block;
	width: 260px;
	padding-top: 10px;
	text-align: left;
	font-size: 16px;
	font-weight: bold;
}

.LoginTextBoxStyle, .PasswordRecoveryTextBoxStyle
{
	width: 240px;
	font-family: Cambria, "Times New Roman";
	font-size: 16px;
	padding: 5px;
}

.LoginTitleTextStyle
{
    display: none;   
}

.PasswordRecoveryTitleTextStyle
{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    display: block;
    width: 260px;
    padding: 10px 0 3px 0;
    margin: 0;
    color: #282828;
}

.LoginCheckBoxStyle
{
    font-size: 12px;
    text-align: center;
    display: block;
    padding: 10px 0 5px 0;   
}

.LoginControl, .PasswordRecoveryControl, .RegisterControl
{
    width: 260px;
}

.ForgottenPasswordLink
{
    font-size: 12px;
    line-height: 40px;
    text-align: center;
    color: #003E81; 
}

.MembershipControlContainer
{
    width: 260px;
    overflow: hidden;   
    margin: 0;
}

.MembershipControlContainer h2
{
	display: block;
	width: 250px;
	margin: 0 0 20px 0;
	padding: 0;
	font-size: 20px;
	text-align: center;
}

.RecoverPasswordControlContainer
{
    width: 260px;
    padding: 20px 165px 10px 165px;
    overflow: hidden;   
}

.HiddenButtonStyle
{
    display: none;
}



.LoginFailureText
{
    color: #990000;
    font-size: 12px;   
}



.LoginButtonStyle
{
    display: block;
    margin: 10px auto 0 auto;
    padding: 5px 10px;
    width: 100px;
    background-color: #ccccee;
    border: 1px solid #333399;
    color: #333399;
    text-decoration: none;   
    text-align: center;
}








.RegisterCompleteSuccessTextStyle
{
}

.RegisterErrorMessageStyle
{
}

.RegisterHeaderStyle
{
}

.RegisterHyperLinkStyle
{
}

.RegisterInstructionTextStyle
{
}

.RegisterPasswordHintStyle
{
}

.RegisterTitleTextStyle
{
	font-weight: bold;
    text-align: left;
    font-size: 110%;
    padding-bottom: 20px;
}

.RegisterValidatorTextStyle
{
}

.ChangePasswordControl
{
    width: 260px;
    height: 450px;
    margin: 0 auto;
}

.MembershipControlContainer h1
{
    font-size: 24px;
    margin: 10px 0 30px 0;   
}

.ChangePasswordSuccessTextStyle
{
    text-align: center;
}

.PasswordRecoveryContainer
{
    margin: 20px 0 0 0;   
}







