
body
{
    position: fixed;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

footer
{
    display: none !important;
}

#roleplayContent 
{
    width: 100%;
    margin: 60px auto 0 auto;
    padding: 0;
}

#roleplayContent div
{
    box-sizing: content-box;
}

.SessionContent
{
    width: 100%;
    max-width: 1100px;
    padding: 0;
    background-color: #bbb;
    margin: 10px auto;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #333;
    position: relative;
}

.SessionHeader
{
    width: calc(100% - 38px);
    padding: 8px 19px 5px 19px;
    background-color: #000;   
    font-size: 20px;
    line-height: 20px;
    color: White;
}

.SessionHeader .SessionTitle
{
    display: block;
    width: 70%;
    float: left;   
}

.SessionHeader .OocToggleContainer
{
    display: block;
    width: 30%;
    float: right;
    text-align: right;
    font-size: 16px;    
}

.PostContainer
{
    width: calc(100% - 8px);
    padding: 5px 0 0 8px;
    margin: 0;
    height: calc(100vh - 390px);   
    font-family: Arial;
    overflow-y: scroll;
    z-index: 1000;
}

.PlayerControls
{
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #fff;  
    position: relative;
}

.PlayerControlsHeader
{
    width: calc(100% - 8px);
    padding: 4px;
    margin: 0;   
    position: relative;
    background-color: #000;
    color: #fff;
}

.PlayerPostControls
{
    width: 100%;
    height: 230px;
    padding: 0;
    margin: 0;   
    background-color: #fff;
    position: relative;
}

.PostTypeControlContainer
{   
    width: calc(100% - 264px);
    margin: 0;
    float: left;
}

.PostTypeSpan
{
    display: block;
    float: left;
    margin: 0 2px 0 0;
}

.ToggleButtonEnabled, .ToggleButtonDisabled
{
    display: block;
    width: 140px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    height: 24px;
    line-height: 24px;
    margin: 0 2px 0 0;
    border-radius: 4px;
    float: left;
}

.ToggleButtonEnabled
{
    border: 2px solid #fff;
    background-color: #000;
    color: #fff;   
}

.ToggleButtonDisabled
{
    border: 2px solid #000;
    background-color: #111;   
    color: #666;
}

.PostAsContainer
{
    width: 264px;
    padding: 0;
    margin: 3px 0 0 0;
    float: right;   
    font-size: 14px;  
}

.PostAsDropDown
{
    width: 200px;
    padding: 1px 2px;
    margin: 0;   
    font-family: Tahoma, Arial, Sans-Serif;
    font-size: 14px;
    margin: 0 4px;
    float: left;
    color: #000;
}

.PostAs
{
    display: block;
    float: left;
    margin: 1px 4px 0 0;
}


.PlayerTextPostControls
{
    width: 100%;
    height: 230px;
    padding: 0;
    margin: 0;   
    position: relative;   
}

.PlayerDiceControls
{
    width: calc(100% - 259px);
    padding: 10px 9px 10px 250px;
    height: 210px;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5000;
    background: #ccccff url(/content/images/roleplayforum/dice_control.jpg) no-repeat scroll top left;
}

.PlayerTextContainer
{
    width: calc(100% - 18px);
    height: 160px;
    padding: 10px 9px;
    margin: 0;
}

.PlayerPrivacyContainer
{
    padding: 0;
    margin: 0;
    float: left;  
    text-align: left; 
}

.PlayerCharacterControls
{
    width: 160px;
    height: 160px;
    text-align: center;
    padding: 0;
    margin: 0;
    float: left;
    border-radius: 50%;
}

.PlayerCharacterPortrait
{
    display: block;
    margin: 5px auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 5px 5px 15px #333;
}

.EditCharacterSheetButton
{
    display: block;
    width: 140px;
    margin: 0 auto;   
}

.PlayerTextControl
{
    width: calc(100% - 180px);
    padding: 0;
    float: right;
    margin: 0;
}

.PlayerPostTextBox
{
    width: calc(100% - 50px);
    height: 150px;
    max-height: 150px;
    font-family: Tahoma, Arial, Sans-Serif;
    font-size: 14px;
    padding: 4px;
    margin: 0 auto;   
    display: block;
}

.PlayerPostButton
{
    width: 200px;
    height: 30px;
    font-size: 16px;
    margin: 0;    
}

.TextPostButtonContainer
{
    width: calc(100% - 18px);    
    margin: 0;
    padding: 9px 9px 10px 9px;
    text-align: right;
}

.Overlay
{
    float: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5000;
    text-align: center;
    margin: 0;
    padding: 0;
}

.OverlayBackground
{
    position: absolute;
    background: url(/content/images/roleplayforum/display_lock_tile.jpg) repeat scroll top left;   
    opacity: 0.9;
    filter:alpha(opacity=90);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
    z-index: 5000;
    margin: 0;
    padding: 0;
}

.CalculatingContainer
{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 6000;
    margin: 0;
    padding: 0;   
}

.CalculatingBox
{
    width: 300px;
    height: 200px;
    border: 1px solid #999;
    border-radius: 25px;
    margin: 100px auto 0 auto;
    padding: 50px 0 0 0; 
    background: #fff url(/content/images/roleplayforum/main_loading.gif) no-repeat scroll center 120px; 
    text-align: center; 
    font-size: 18px;
}

.Post
{
    width: calc(100% - 20px);
    padding: 0 5px 5px 0;
    margin: 5px 0;
    position: relative;   
    clear: both;
}

.InCharacterPost
{
    width: calc(100% - 1px);
    margin: 0 0 0 1px;
    background: #fff url(/content/images/roleplayforum/post_strip.jpg) repeat-y scroll top left;
    clear: both;   
    box-shadow: 5px 5px 5px #888888;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.InCharacterPost .PostHeader
{
    width: calc(100% - 20px);
    padding: 8px 10px 4px 10px;
    background-color: #111;
    color: #fff;
    font-size: 18px;
}

.InCharacterPost .PostCharacter
{
    float: left;   
}

.InCharacterPost .ViewCharacterIcon
{
    display: block;
    width: 16px;
    height: 16px;
    float: left;
    margin: 5px 0 0 10px;
    background: url(/content/images/roleplayforum/viewdetails.png) no-repeat scroll top left;   
    cursor: pointer;
}

.InCharacterPost .PostPlayer
{
    float: right;
    text-align: right;   
}

.InCharacterPost .PostInfo
{
    width: 110px;
    padding: 10px 9px 10px 10px;
    margin: 0;
    background-color: #eee;
    float: left;
    font-size: 14px;
    color: #333;  
}

.InCharacterPost .CharacterPicture
{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    padding: 0;
    display: block;   
}

.InCharacterPost .PostedDate
{    
    display: block;
    font-size: 10px;
    margin: 10px 0 0 0;       
    text-align: center;
}

.InCharacterPost .PostContent
{
    width: calc(100% - 179px);
    padding: 10px 20px 40px 30px;
    margin: 0;
    float: right;
    font-size: 14px;   
    color: #333;
}

.InCharacterPost .PrivateMessageRecipients
{
    width: calc(100% - 197px);
    padding: 9px;
    border: 1px solid #999;
    background-color: #fff;
    margin: 10px 20px 0 0;
    font-size: 12px;
    line-height: 20px;  
    float: right;
}

.InCharacterPost .PostEditControls
{
    width: calc(100% - 197px);
    height: 25px;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 5px;
    right: 5px;   
}

.InCharacterPost .PostEditButton
{
    float: right;
    margin: 0 0 0 5px;
}

.InCharacterPost .EditedDate
{
    float: right;
    margin: 1px 10px 0 0;
    font-size: 12px;
    line-height: 24px;
    font-style: italic;
}

.GmInCharacterPost
{
    width: calc(100% - 1px);
    margin: 0 0 0 1px;
    background: #fff url(/content/images/roleplayforum/post_strip.jpg) repeat-y scroll top left;
    box-shadow: 5px 5px 5px #888888;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.GmInCharacterPost .PostHeader
{
    width: calc(100% - 20px);
    padding: 8px 10px 4px 10px;
    background-color: #111;
    color: #fff;
    font-size: 18px;
}

.GmInCharacterPost.GmPost .PostHeader
{
    background-color: #990000;
}

.GmInCharacterPost .PostInfo
{
    width: 110px;
    padding: 10px 9px 10px 10px;
    margin: 0;
    background-color: #eee;
    float: left;
    font-size: 14px;
    color: #111;  
}

.GmInCharacterPost .CharacterPicture
{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    padding: 0;
    display: block;   
}

.CharacterPicture img
{
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    box-shadow: 5px 5px 15px #333;
    margin: 0;
    padding: 0;
}

.GmInCharacterPost .PostedDate
{    
    display: block;
    font-size: 10px;
    margin: 10px 0 0 0;       
    text-align: center;  
}


.GmInCharacterPost .PostContent
{
    width: calc(100% - 179px);
    padding: 10px 20px 40px 30px;
    margin: 0;
    float: right;
    font-size: 14px;   
    color: #111;
}

.GmInCharacterPost .PrivateMessageRecipients
{
    width: calc(100% - 197px);
    padding: 9px;
    border: 1px solid #999;
    background-color: #fff;
    margin: 10px 20px 0 0;
    font-size: 12px;
    line-height: 20px;  
    float: right;
}

.GmInCharacterPost .PostEditControls
{
    width: calc(100% - 197px);
    height: 25px;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 5px;
    right: 5px;   
}

.GmInCharacterPost .PostEditButton
{
    float: right;
    margin: 0 0 0 5px;
}

.GmInCharacterPost .EditedDate
{
    float: right;
    margin: 1px 10px 0 0;
    font-size: 12px;
    line-height: 24px;
    font-style: italic;
}

.GmInCharacterPost .PostCharacter
{
    float: left;   
}

.GmInCharacterPost .ViewCharacterIcon
{
    display: block;
    width: 16px;
    height: 16px;
    float: left;
    margin: 5px 0 0 10px;
    background: url(/content/images/roleplayforum/viewdetails.png) no-repeat scroll top left;   
    cursor: pointer;
}

.GmInCharacterPost .PostPlayer
{
    float: right;
    text-align: right;   
}

.OutOfCharacterPost
{
    width: calc(100% - 51px);
    max-width: 850px;
    margin: 0 0 0 21px;
    background: #ffffaa;
    box-shadow: 5px 5px 5px #888888;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.OutOfCharacterPost .PostHeader
{
    width: calc(100% - 20px);
    padding: 8px 10px 4px 10px;
    color: #333;
    background-color: #eaea99;
    font-size: 16px;
    font-weight: bold;
}

.OutOfCharacterPost .PostCharacter
{
    float: left;   
}

.OutOfCharacterPost .PostPlayer
{
    float: right;
    text-align: right;   
}

.OutOfCharacterPost .PostContent
{
    width: calc(100% - 60px);
    padding: 10px 30px 40px 30px;
    margin: 0;
    float: right;
    font-size: 14px;   
    color: #333;
}

.OutOfCharacterPost .PostedDate
{
    position: absolute;
    bottom: 4px;
    left: 10px;    
    font-size: 10px;
}

.OutOfCharacterPost .PrivateMessageRecipients
{
    width: calc(100% - 80px);
    padding: 9px;
    border: 1px solid #999;
    background-color: #fff;
    margin: 10px auto 0 auto;
    font-size: 12px;
    line-height: 20px;  
}

.OutOfCharacterPost .PostEditControls
{
    width: calc(100% - 197px);
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 5px;
    right: 5px;   
    height: 25px;
}

.OutOfCharacterPost .PostEditButton
{
    float: right;
    margin: 0 0 0 5px;
}

.OutOfCharacterPost .EditedDate
{
    float: right;
    margin: 1px 10px 0 0;
    font-size: 12px;
    line-height: 24px;
    font-style: italic;
}

.PostCover
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #bbb;
    z-index: 4000;   
}

.DiceRollPost
{
    width: calc(100% - 51px);
    max-width: 850px;
    margin: 0 0 0 21px;
    background: #ccccff;
    box-shadow: 5px 5px 5px #888888;
    border-radius: 10px;
    overflow: hidden;
}

.DiceRollPost .PostHeader
{
    width: calc(100% - 20px);
    padding: 8px 10px 4px 10px;
    color: #111;
    background-color: #bbbbea;
    font-size: 16px;
    font-weight: bold;
}

.DiceRollPost .PostCharacter
{
    float: left;   
}

.DiceRollPost .PostPlayer
{
    float: right;
    text-align: right;   
}

.DiceRollPost .PostContent
{
    width: calc(100% - 170px);
    height: 75px;
    padding: 10px 20px 15px 150px;
    background: url(/content/images/roleplayforum/dice_roll.jpg) no-repeat scroll top left;
    margin: 0;
    float: right;
    font-size: 14px;   
    color: #333;
    position: relative;
}

.DiceRollPost .RollDescription
{
    display: block;
    width: 540px;
    font-size: 24px;
    margin: 0;  
}

.FudgePlus, .FudgeMinus, .FudgeBlank
{
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 5px 0 0;
    padding: 0;
}

.FudgePlus
{
    background: url(/content/images/roleplayforum/fudge-plus.png) no-repeat scroll center center;
} 

.FudgeMinus
{
    background: url(/content/images/roleplayforum/fudge-minus.png) no-repeat scroll center center;
} 

.FudgeBlank
{
    background: url(/content/images/roleplayforum/fudge-blank.png) no-repeat scroll center center;
}

.DiceRollPost .RollResult
{
    display: block;
    padding: 10px;
    background-color: #fff;
    font-size: 20px;
    text-align: right;        
    position: absolute;
    right: 10px;
    bottom: 10px;
    border: 1px solid #6666cc; 
    border-radius: 5px;  
}

.DiceRollPost .BonusDie
{
    color: #339933;   
}

.DiceControlsRow
{
    width: 330px;
    margin: 0 20px 10px 10px;
    font-size: 18px;
    height: 24px;
    line-height: 24px;
    padding: 0;   
    float: left;
}

.DiceControlSpan
{
    width: 172px;   
    float: right;
    margin: 0;
    padding: 0;
}

.DiceControlDropDown
{
    width: 170px;
    padding: 2px;
    font-size: 18px;
    margin: 0;
}

.DiceControlCheckBox
{
    margin: 7px 0 0 5px;
}

.D10Fixed, .D6Fixed, .FudgeFixed, .Fudge4Fixed
{
    margin: 0 0 0 5px;
}

.CharacterPopOver
{
    width: 650px;
    position: fixed;
    z-index: 10000;
    background: #fff;
    border: 1px solid #333;
    box-shadow: 5px 5px 10px #333;   
    top: 10px;
    margin: 0;
    padding: 0;
}

.CharacterPopOver .PopOverHeader
{
    width: 640px;
    padding: 5px;
    margin: 0;
    border-bottom: 1px solid #333;
    background-color: #ddd;   
    color: #333;
    font-size: 18px;
}

.CharacterPopOverName
{
    float: left;
    margin: 0 0 0 5px;
    padding: 0;   
}

.PopOverClose
{
    display: block;
    margin: 0;
    padding: 0;
    width: 17px;
    height: 17px;
    cursor: pointer;
    background: url(/content/images/roleplayforum/controlclose.jpg) no-repeat scroll top left;
    float: right;   
}

.CharacterPopOver .PopOverContent
{
    width: 650px;
    padding: 0;
    margin: 0;
    position: relative;
}

.CharacterPopOver .PopOverTabs
{
    width: 640px;
    padding: 2px 5px;
    background-color: #aaccaa;
    margin: 0;
    border-bottom: 1px solid #333;    
}

.CharacterTabEnabled, .CharacterTabDisabled
{
    display: block;
    width: 150px;
    padding: 5px 10px;
    border-radius: 12px;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    margin: 0 5px 0 0;
    float: left;
}

.CharacterTabEnabled
{
    border: 2px solid #fff;
    background-color: #333;
    color: #fff;   
    text-shadow: -1px 1px 8px #eee, 1px -1px 8px #eee;
}

.CharacterTabDisabled
{
    border: 2px solid #bbb;
    background-color: #ddd;   
    color: #bbb;
}


.CharacterPopOver .PopOverPageContent
{
    width: 620px;
    padding: 10px 20px 10px 10px;
    height: 500px;
    overflow-y: scroll;  
    font-size: 15px;
    color: #333; 
}

.CharacterPopOver .PopOverLoading
{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #fff url(/content/images/roleplayforum/main_loading.gif) no-repeat scroll center center;    
}

.CharacterPopOverImage
{
    margin: 0 10px 10px 0;
    float: left;   
    border: 1px solid #333;
}

.ModalOverlay
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 920000;  
}

.ModalOverlayBackground
{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    z-index: 921000;       
}

.EditPostPopup
{
    position: absolute;
    width: 600px;
    height: 500px;
    z-index: 925000;
    background-color: #fff;
    border: 1px solid #333;
    box-shadow: 5px 5px 10px #333;   
    margin: auto;
    padding: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.EditPostPopup .PopupHeader
{
    width: 590px;
    padding: 5px;
    margin: 0;
    border-bottom: 1px solid #333;
    background-color: #ddd;   
    color: #333;
    font-size: 18px;
}

.EditPostPopupTitle
{
    float: left;
    margin: 0 0 0 5px;
    padding: 0;   
}

.PopupClose
{
    display: block;
    margin: 0;
    padding: 0;
    width: 17px;
    height: 17px;
    cursor: pointer;
    background: url(/content/images/roleplayforum/controlclose.jpg) no-repeat scroll top left;
    float: right;   
}

.EditPostPopup .PopupContent
{
    width: 580px;
    padding: 10px;
    color: #333;     
}

.EditPostPopup .PopupSubmit
{
    width: 580px;
    padding: 10px;
    margin: 20px 0 0 0;
    color: #333;     
    text-align: right;
}

.EditPostTextBox
{
    width: 566px;
    max-width: 564px !important;
    height: 363px;   
    max-height: 363px !important;
    margin: 0;
    font-family: Tahoma, Arial, Sans-Serif;
    font-size: 14px;
    padding: 6px;    
}

.DiceRollButtonContainer
{
    width: calc(100% - 249px);
    padding: 10px 10px 10px 9px;
    position: absolute;
    text-align: right;
    bottom: 0;
    right: 0; 
}

.PrivacyTitle
{
    font-size: 18px;
    line-height: 30px;
    margin: 0 5px 0 0;
    float: left;
    padding: 0;      
}

.Recipients
{
    background-color: #fff;
    float: left;
    min-width: 150px;
    max-width: 500px;
    font-size: 16px;
    padding: 3px 10px 3px 4px;
    border: 1px solid #999;
    margin: 1px 2px 0 0;
    text-overflow: ellipsis;
    white-space:nowrap; 
    overflow: hidden;
}

.PrivacyControl
{
    float: left;
    margin: 0;
    font-size: 18px;
}

.EditPrivacyButton
{
    display: block;
    padding: 3px 3px 2px 3px;
    font-size: 15px;
}

.EditRecipientsPopup
{
    position: absolute;
    width: 400px;
    height: 500px;
    z-index: 925000;
    background-color: #fff;
    border: 1px solid #333;
    box-shadow: 5px 5px 10px #333;   
    margin: auto;
    padding: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.EditRecipientsPopup .PopupHeader
{
    width: 390px;
    padding: 5px;
    margin: 0;
    border-bottom: 1px solid #333;
    background-color: #ddd;   
    color: #333;
    font-size: 18px;
}

.EditRecipientsPopupTitle
{
    float: left;
    margin: 0 0 0 5px;
    padding: 0;   
}

.EditRecipientsPopup .PopupContent
{
    width: 380px;
    padding: 10px;
    color: #333;     
    position: relative;
}

.EditRecipientsPopup .PopupContentLoading
{
    width: 380px;
    height: 380px;
    padding: 10px;
    color: #333;     
    background-color: #fff;
    margin: 0 auto;
    background: #fff url(/content/images/roleplayforum/main_loading.gif) no-repeat scroll center center;  
}

.EditRecipientsPopup .PopupSubmit
{
    width: 380px;
    padding: 10px;
    margin: 20px 0 0 0;
    color: #333;     
    text-align: right;
}

.AllRecipientsContainer
{
    width: 360px;
    margin: 0 auto;
    padding: 0;
    height: 30px;
    font-size: 18px;
}

.RecipientsContainer
{
    width: 360px;
    border: 1px solid #999;
    overflow-y: scroll;
    padding: 9px;
    height: 320px;
    margin: 10px auto 0 auto;   
}

.RecipientsOverlay
{
    width: 380px;
    height: 350px;
    background-color: #fff;
    opacity: 0.7;
    position: absolute;
    top: 40px;
    left: 10px;   
    z-index: 30000;
}

.RecipientListItem
{
    display: block;
    width: 300px;
    padding: 3px;
    font-size: 16px;       
}

.RecipientCheckBox
{
    margin: 0 10px 0 0 !important;   
}

.EditCharacterSheetPopup
{
    position: absolute;
    width: 650px;
    height: 640px;
    z-index: 925000;
    background-color: #fff;
    border: 1px solid #333;
    box-shadow: 5px 5px 10px #333;   
    margin: auto;
    padding: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.EditCharacterSheetPopup .PopupHeader
{
    width: 640px;
    padding: 5px;
    margin: 0;
    border-bottom: 1px solid #333;
    background-color: #ddd;   
    color: #333;
    font-size: 18px;
}

.EditCharacterSheetPopupTitle
{
    float: left;
    margin: 0 0 0 5px;
    padding: 0;   
}

.EditCharacterSheetPopup .PopupContent
{
    width: 630px;
    padding: 10px;
    color: #333;     
    position: relative;
}

.EditCharacterSheetPopup .PopupContentLoading
{
    width: 630px;
    height: 520px;
    padding: 10px;
    color: #333;     
    background-color: #fff;
    margin: 0 auto;
    background: #fff url(/content/images/roleplayforum/main_loading.gif) no-repeat scroll center center;  
}

.EditCharacterSheetPopup .PopupSubmit
{
    width: 630px;
    padding: 10px;
    margin: 20px 0 0 0;
    color: #333;     
    text-align: right;
}

.EditableCharacterSheetContainer
{
    width: 600px;
    height: 500px;
    padding: 10px 20px 10px 10px;
    overflow-y: scroll;
    background-color: #bbb;
    box-shadow: inset -5px 0 30px #333;
    border: 1px solid #333;
    margin: 0 auto;   
}

.DisplayCharacterSheet
{
}

.DeviceToggleButton
{
    display: none;
}

.NarrowText
{
    display: none;
}

.TextPostBackground
{    
    background: #333;
    z-index: 500000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 0;
    transition: all 0.2s linear;
}

.PlayerToPostContainer
{
    padding: 0;
    margin: 0;
    float: left;  
    text-align: left;
    width: 100%;
    max-width: 300px;
}

.PlayerToPostContainer span
{
    display: block;
    color: #fff;
    background: #bb3333;
    padding: 5px;
    font-size: 16px;
    line-height: 22px;
    height: 32px;
    border-radius: 5px;
    width: 100%;
    text-align: center;
}

.PlayerImageControls
{
    width: 100%;
    height: 230px;
    margin: 0;
    padding: 0;
    position: relative;
    background: #8cd98c;
    overflow: hidden;
}

.ImagePreviewContainer
{
    width: 230px;
    height: 230px;
    float: left;
    margin: 0;
    padding: 0;
    border-right: 1px solid #000;
    background: #666;
}

.ImageUploadControls
{
    width: calc(100% - 260px);
    float: right;
    padding: 10px;
    margin: 0;
    height: 210px;
    position: relative;
}

.ImagePostButtonContainer
{
    position: absolute;
    bottom: 10px;
    right: 10px;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: right;
}

.ImageUploadArea
{
    width: calc(100% - 130px);
    max-width: 500px;
    padding: 15px;
    background: #fff;
    border-radius: 15px;
    border: 1px solid #666;
    font-size: 20px;
    line-height: 20px;
    cursor: pointer;
    font-weight: normal;
    float: left;
    overflow: hidden;
}

.ClearImageButton
{
    float: left;
    margin: 0 0 0 5px;
    font-size: 20px;
    padding: 10px;
    border-radius: 15px;
}

.ImagePost
{
    width: calc(100% - 51px);
    max-width: 500px;
    margin: 0 0 0 21px;
    background:#8cd98c;
    box-shadow: 5px 5px 5px #888888;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.ImagePost .PostHeader
{
    width: calc(100% - 20px);
    padding: 8px 10px 4px 10px;
    color: #333;
    background-color: #53c653;
    font-size: 16px;
    font-weight: bold;
}

.ImagePost .PostCharacter
{
    float: left;   
}

.ImagePost .PostPlayer
{
    float: right;
    text-align: right;   
}

.ImagePost .PostContent
{
    width: calc(100% - 30px);
    padding: 10px 15px 30px 15px;
    margin: 0;
    float: right;
    font-size: 14px;   
    color: #333;
}

.ImagePost .PostedDate
{
    position: absolute;
    bottom: 4px;
    left: 10px;    
    font-size: 10px;
}

.ImagePost .PrivateMessageRecipients
{
    width: calc(100% - 80px);
    padding: 9px;
    border: 1px solid #999;
    background-color: #fff;
    margin: 10px auto 0 auto;
    font-size: 12px;
    line-height: 20px;  
}

.ImagePost .EditedDate
{
    float: right;
    margin: 1px 10px 0 0;
    font-size: 12px;
    line-height: 24px;
    font-style: italic;
}

.ImagePostImage
{
    width: calc(100% - 70px);
    max-width: 380px;
    margin: 0;
    padding: 0;
    padding-bottom: 56.25%;
    float: left;
    background-color: #6ad86a;
}

.ImagePost .ZoomButton
{
    display: block;
    width: 50px;
    height: 50px;
    float: right;
    margin: 0;
    background: url(/Content/Images/RoleplayForum/zoom.png) no-repeat scroll center center;
}

.ImagePost .PostEditControls
{
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 100px;
    text-align: right;
}

@media (max-width: 991px)
{
    .WideText
    {
        display: none;
    }

    .NarrowText
    {
        display: inline;
    }    

    .ToggleButtonEnabled, .ToggleButtonDisabled
    {
        width: 88px;
    }
}

@media (max-width: 770px)
{
    .body-content
    {
        padding-left: 0;
        padding-right: 0;
    }

    .SessionContent
    {
        margin: 0;
        border-radius: 0;
        min-width: 320px;
    }

    .SessionHeader
    {
        height: 32px;
        padding-top: 4px;
        padding-bottom: 2px;
    }

    #roleplayContent
    {
        margin-top: 50px;
    }

    #divPlayerControls
    {
        display: none;
    }

    #divPostContainer
    {
        height: calc(100vh - 93px);
    }

    .SessionHeader .SessionTitle
    {
        width: calc(100% - 130px);
        text-overflow: ellipsis;
        text-wrap: none;
        height: 32px;
        line-height: 32px;
        font-size: 15px;
        overflow: hidden;
        white-space: nowrap;
    }

    .SessionHeader .OocToggleContainer
    {
        width: 80px;
        font-size: 12px;
        line-height: 32px;
        height: 32px;
        margin: 0 45px 0 0;
    }

    .DeviceToggleButton
    {
        display: block;
        width: 32px;
        height: 32px;
        position: absolute;
        top: 4px;
        right: 12px;
        background: url(/content/images/roleplayforum/write-comment.png) no-repeat scroll center center;
        cursor: pointer;
    }

    #chkDeviceToggle:checked ~ .DeviceToggleButton
    {
        background: url(/content/images/roleplayforum/view-messages.png) no-repeat scroll center center;
    }

    #chkDeviceToggle:checked ~ #divPostContainer
    {
        display: none;
    }

    #chkDeviceToggle:checked ~ #divPlayerControls
    {
        display: block;
    }

    .PostAsContainer
    {
        width: calc(100% - 20px);
        float: none;
        margin: 0 auto;
        padding: 5px 0 0 0;
    }

    .PostTypeControlContainer
    {
        width: calc(100% - 20px);
        float: none;
        margin: 0 auto;
    }

    .PlayerControlsHeader
    {
        height: 55px;
        padding-top: 0;
    }

    .PostTypeControlContainer:after, .PostAsContainer:after
    {
        display: block;
        clear: both;
        content: " ";
    }

    .PlayerPostControls, .PlayerDiceControls
    {
        height: calc(100vh - 147px);
    }

    .PlayerTextPostControls
    {
        position: static;
    }

    .PlayerPostControls
    {
        position: relative;
    }

    .PlayerCharacterControls
    {
        display: none;
    }

    .PlayerTextControl
    {
        width: 100%;
    }

    .TextPostButtonContainer
    {
        position: absolute;
        left: 0;
        bottom: 0;
    }

    .PlayerPostTextBox
    {
        width: calc(100% - 10px);
        height: 150px;
        max-height: 150px;
        transition: all 0.2s linear;
        z-index: 555000;
        position: relative;
    }

    .PlayerDiceControls
    {
        background: #ccccff;
        padding: 0 10px;
        width: calc(100% - 20px);
    }

    .DiceControlsRow
    {
        width: 100%;
        float: none;
        margin: 15px 0;
        font-size: 14px;
    }

    .DiceRollButtonContainer
    {
        width: auto;
        margin: 0;
        padding: 0;
        bottom: 10px;
        right: 10px;
    }

    .Post
    {
        width: calc(100% - 10px);
    }

    .InCharacterPost .PostHeader, .GmInCharacterPost .PostHeader, .OutOfCharacterPost .PostHeader, .DiceRollPost .PostHeader
    {
        font-size: 14px;
        padding: 4px 8px 2px 8px;
        width: calc(100% - 16px);
    }

    .InCharacterPost .PostInfo, .GmInCharacterPost .PostInfo
    {
        width: 70px;
        padding: 5px;
    }

    .InCharacterPost .CharacterPicture, .GmInCharacterPost .CharacterPicture
    {
        width: 70px;
        height: 70px;
    }

    .CharacterPicture img
    {
        width: 70px;
        height: 70px;
        border-radius: 35px;
    }

    .InCharacterPost, .GmInCharacterPost
    {
        background: #fff url("/content/images/roleplayforum/post_strip.jpg") repeat-y scroll -50px 0;
    }

    .InCharacterPost .PostContent, .GmInCharacterPost .PostContent
    {
        width: calc(100% - 100px);
        padding: 10px 10px 35px 10px;
    }

    .InCharacterPost .PostEditControls, .GmInCharacterPost .PostEditControls, .OutOfCharacterPost .PostEditControls
    {
        width: 100%;
    }

    .OutOfCharacterPost, .DiceRollPost
    {
        width: calc(100% - 21px);
        margin: 0 0 0 11px;
    }

    .OutOfCharacterPost .PostContent, .DiceRollPost .PostContent
    {
        width: calc(100% - 20px);
        padding: 10px 10px 35px 10px;
        background: none;
    }

    .PlayerPrivacyContainer
    {
        width: 100%;
        margin: 0 0 5px 0;
        font-size: 14px;
    }    

    .PlayerToPostContainer
    {
        max-width: 100%;
        margin: 0 0 5px 0;
    }

    .EditRecipientsPopup
    {
        width: calc(100% - 20px);
        height: calc(100vh - 70px);
        margin: 60px auto 0 auto;
        max-width: 400px;
    }

    .EditPostPopup
    {
        width: calc(100% - 20px);
        margin: 120px auto 0 auto;
        max-width: 400px;
        height: calc(100vh - 180px);
    }

    .EditRecipientsPopup .PopupHeader, .EditPostPopup .PopupHeader
    {
        width: calc(100% - 10px);
    }

    .AllRecipientsContainer
    {
        width: calc(100% - 20px);
    }

    .EditRecipientsPopup .PopupContent, .EditPostPopup .PopupContent
    {
        width: calc(100% - 20px);
    }

    .RecipientsOverlay
    {
        width: calc(100% - 20px);
        height: calc(100% - 50px);
    }

    .RecipientsContainer
    {
        width: calc(100% - 20px);
        height: calc(100vh - 250px);
    }

    .EditRecipientsPopup .PopupSubmit, .EditPostPopup .PopupSubmit
    {
        width: calc(100% - 20px);
        transition: all 0.2s linear;
    }
    
    .RecipientListItem
    {
        width: calc(100% - 10px);
    }

    .EditPostTextBox
    {
        width: calc(100% - 6px) !important;
        max-width: calc(100% - 6px) !important;
        height: 150px !important;
        max-height: 150px !important;
        overflow-y: scroll;
        transition: all 0.2s linear;
        position: relative;
        z-index: 555000;
    }

    .PlayerPostButton
    {
        width: 100%;
    }

    .ImagePreviewContainer
    {
        float: none;
        width: 120px;
        height: 120px;
        border: 1px solid #000;
        margin: 10px auto;
    }

    .PlayerImageControls, .ImageUploadControls
    {
        float: none;
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;        
    }

    .ImageUploadArea
    {
        width: calc(100% - 20px);
        margin: 0 auto 10px auto;
        display: block;
        padding: 10px;
        font-size: 16px;
        border-radius: 10px;
        max-width: 100%;
        float: none;
    }

    .ImagePostButtonContainer
    {
        position: static;
        margin: 20px auto 0 auto;
        width: calc(100% - 20px);
    }

    .ClearImageButton
    {
        float: none;
        padding: 0px;
        width: calc(100% - 20px);
        margin: 0 auto;
        font-size: 16px;
        border-radius: 0;
    }
}

@media (max-width: 500px)
{
    .WideText
    {
        display: none;
    }

    .NarrowText
    {
        display: inline;
    }

    .ToggleButtonEnabled, .ToggleButtonDisabled
    {
        width: 88px;
    }

    .PlayerPostTextBox:focus
    {
        transform: translateY(-100px);
        height: 180px;
        max-height: 180px;
        box-shadow: 0 0 5px #fff;
    }

    .PlayerPostTextBox:focus ~ .TextPostBackground, .EditPostTextBox:focus ~ .TextPostBackground
    {
        height: 100vh;
    }

    .EditPostTextBox:focus
    {
        transform: translateY(-110px);
        height: 180px !important;
        max-height: 180px !important;
        box-shadow: 0 0 5px #fff;
    }

    .EditPostTextBox:focus ~ .EditPostPopup .PopupSubmit
    {
        transform: translateY(-50px);
    }

    .PlayerPostButton
    {
        width: 100%;
    }

    .PrivacyTitle, .PrivacyControl, .Recipients, .EditPrivacyButton, .ClearPrivacyButton
    {
        font-size: 14px;
    }

    .Recipients
    {
        min-width: 145px;
        padding-bottom: 4px;
    }
}

@media (max-width: 420px)
{
    .ToggleButtonEnabled, .ToggleButtonDisabled
    {
        width: 64px;
    }    
}