body
{
    margin: 0;
    padding: 0;
    font-family: Tahoma, Arial;       
}

.Clear
{
    clear: both;   
}

.SessionContainer
{
    width: 712pt;
    padding: 0 27pt;
    margin: 0;    
}

.SessionHeaderSection
{
    width: 712pt;
    margin: 37pt 0;
    padding: 0;   
    text-align: center;
}

.SessionPostsSection
{
    width: 712pt;
    padding: 0;
    margin: 0;   
}

.Post
{
    width: 700pt;
    padding: 0 4pt 4pt 0;
    margin: 4pt 0;
    position: relative;   
    clear: both;
    page-break-inside: avoid;
}

.InCharacterPost
{
    width: 675pt;
    margin: 0 0 0 1pt;
    border: 1pt solid #6666ff;   
    background: #fff url(../images/post_strip.jpg) repeat-y scroll top left;
    clear: both;   
}

.InCharacterPost .PostHeader
{
    width: 662pt;
    padding: 3pt 7pt;
    border-bottom: #6666ff;
    background-color: #6666ff;
    color: #fff;
    font-size: 15pt;
}

.InCharacterPost .PostCharacter
{
    float: left;   
}

.InCharacterPost .PostPlayer
{
    float: right;
    text-align: right;   
}

.InCharacterPost .PostInfo
{
    width: 82pt;
    padding: 8pt;
    margin: 0;
    background-color: #eee;
    float: left;
    font-size: 11pt;
    color: #333;  
}

.InCharacterPost .CharacterPicture
{
    width: 75pt;
    height: 90pt;
    border: 1pt solid #333;
    margin: 0;
    padding: 0;
    display: block;
    float: left;   
}

.InCharacterPost .PostedDate
{    
    font-size: 8pt;
    margin: 8pt 0 0 0;       
}

.InCharacterPost .PostContent
{
    width: 540pt;
    padding: 8pt 15pt 15pt 22pt;
    margin: 0;
    float: right;
    font-size: 11pt;   
    color: #333;
}

.GmInCharacterPost
{
    width: 675pt;
    margin: 0 0 0 1pt;
    border: 1pt solid #ff6666;   
    background: #fff url(../images/post_strip.jpg) repeat-y scroll top left;
}

.GmInCharacterPost .PostHeader
{
    width: 662pt;
    padding: 3pt 7pt;
    border-bottom: #ff6666;
    background-color: #ff6666;
    color: #fff;
    font-size: 15pt;
}

.GmInCharacterPost .PostInfo
{
    width: 82pt;
    padding: 8pt;
    margin: 0;
    background-color: #eee;
    float: left;
    font-size: 11pt;
    color: #333;  
}

.GmInCharacterPost .CharacterPicture
{
    width: 75pt;
    height: 90pt;
    border: 1pt solid #333;
    margin: 0;
    padding: 0;
    display: block;
    float: left;   
}

.GmInCharacterPost .PostedDate
{    
    font-size: 8pt;
    margin: 8pt 0 0 0;       
}

.GmInCharacterPost .PostContent
{
    width: 540pt;
    padding: 8pt 15pt 15pt 22pt;
    margin: 0;
    float: right;
    font-size: 11pt;   
    color: #333;
}

.GmInCharacterPost .PostCharacter
{
    float: left;   
}

.GmInCharacterPost .PostPlayer
{
    float: right;
    text-align: right;   
}

.OutOfCharacterPost
{
    width: 638pt;
    margin: 0 0 0 15pt;
    border: 1pt solid #cccc33;   
    background: #ffffaa;
}

.OutOfCharacterPost .PostHeader
{
    width: 622pt;
    padding: 2pt 8pt;
    color: #333;
    background-color: #eaea99;
    border-bottom: 1pt solid #cccc33;
    font-size: 12pt;
}

.OutOfCharacterPost .PostCharacter
{
    float: left;   
}

.OutOfCharacterPost .PostPlayer
{
    float: right;
    text-align: right;   
}

/*.OutOfCharacterPost .PostInfo
{
    width: 200px;
    padding: 10px;
    margin: 0;
    float: left;
    font-size: 14px;
    background-color: 
    color: #333;  
}*/

.OutOfCharacterPost .PostContent
{
    width: 592pt;
    padding: 8pt 15pt 11pt 15pt;
    margin: 0;
    float: right;
    font-size: 11pt;   
    color: #333;
}

.PostCover
{
    display: none; 
}

.DiceRollPost
{
    width: 638pt;
    margin: 0 0 0 15pt;
    border: 1pt solid #6666cc;   
    background: #ccccff;
}

.DiceRollPost .PostHeader
{
    width: 622pt;
    padding: 2pt 8pt;
    color: #333;
    background-color: #bbbbea;
    border-bottom: 1pt solid #6666cc;
    font-size: 12pt;
}

.DiceRollPost .PostCharacter
{
    float: left;   
}

.DiceRollPost .PostPlayer
{
    float: right;
    text-align: right;   
}

/*.DiceRollPost .PostInfo
{
    width: 200px;
    padding: 10px;
    margin: 0;
    float: left;
    font-size: 14px;
    background-color: 
    color: #333;  
}*/

.DiceRollPost .PostContent
{
    width: 510pt;
    height: 56pt;
    padding: 8pt 15pt 11pt 113pt;
    background: url(../images/dice_roll.jpg) no-repeat scroll top left;
    margin: 0;
    float: right;
    font-size: 11pt;   
    color: #333;
    position: relative;
}

.DiceRollPost .RollDescription
{
    display: block;
    width: 405pt;
    font-size: 18pt;
    margin: 0;  
}

.DiceRollPost .RollResult
{
    display: block;
    padding: 8pt;
    background-color: #fff;
    font-size: 15pt;
    text-align: right;        
    position: absolute;
    right: 8pt;
    bottom: 8pt;
    border: 1pt solid #6666cc;   
}

.DiceRollPost .BonusDie
{
    color: #339933;   
}

