
h4
{
    margin: 30px 0 5px 0;
    font-weight: bold;
}

.DiceRoll, .OocComment
{
    padding: 0;
    font-size: 14px;
    width: calc(100% - 20px);
    
    margin: 10px;
    border-radius: 3px;
}

.DiceRoll
{
    background: #ccccff;
    border: 1px solid #bbbbea;    
}

.OocComment
{
    background: #ffffaa;
    border: 1px solid #eaea99;
}

.Title, .Content
{
    display: block;
    width: 100%;
    padding: 5px 10px;
}

.OocComment .Content
{
    display: block;
    width: 100%;
    padding: 10px 15px 0 10px;
}

.Title
{
    font-weight: bold;
}

.DiceRoll .Title
{
    background: #bbbbea;
}

.OocComment .Title
{
    background: #eaea99;
}

#sessionLogContainer
{
    width: 100%;
    margin: 0;
    padding: 0;
}

#sessionLogContainer > p
{
    margin-left: 10px;
}

.LogImage img
{
    max-width: 100%;
}