

@using Humanizer
@using Warhammer.Mvc.Models
@model Warhammer.Core.Models.PageLinkWithUpdateDateModel

<tr>
    <td>
        @Html.Partial("PageImage", new ImageViewModel(Model))
    </td>
    <td></td>
    <td>
        <span><a href="@Url.Action("Index", "Page", new { id = Model.Id })">@Model.FullName</a> Updated</span>
    </td>

</tr>
<tr>
    <td colspan="3">
        <span class="note">@Model.LastUpdate.ToLocalTime().Humanize()</span>
    </td>
</tr>
