
@font-face {
    font-family: CowboyFont;
    src: url('fonts/RioGrande.ttf') /* TTF file for CSS3 browsers */
}

body {
    background: url('images/cowboy_background.jpg') no-repeat center center fixed;
    background-size: cover;
}

@media screen and (max-width: 1700px) {

    body {
        background: url('images/cowboy_background.jpg') no-repeat center center fixed;
        background-size: cover;
    }
}

@media screen and (max-width: 850px) {

    body {
        background: url('images/cowboy_background.jpg') no-repeat center center fixed;
        background-size: cover;
    }
}

#roleplayContent,
.core-content,
.banner-content,
.main-content,
.side-bar
{
    opacity: 0.92;
}

.header-block h1 {
  font-family: 'CowboyFont', sans-serif;
    font-size: xx-large;
    font-weight:lighter;
  color: #fff;
  text-shadow: 0px 0px 0px rgba(0,0,0,0); 
}
