@brand-primary: darken(#428bca, 6.5%); // #337ab7
@brand-success: #5cb85c;
@brand-info: #5bc0de;
@brand-warning: #f0ad4e;
@brand-danger: #d9534f;
@header-font: 100 @font-size-jumbo 'Quicksand', Helvetica, sans-serif;
@content-font: 'Quicksand', Helvetica, sans-serif;
@text-color: #FAFAFF;
@table-bg-accent: rgba(49,107,169,0.15);