@using System.Web.Mvc.Html
@using Warhammer.Core.Entities
@using Warhammer.Core.Models
@model Warhammer.Core.Models.CharacterLeagueModel

@{
    string banner = Model.IsSiteVersion ? "" : "banner-hallOfFame";
    string title = Model.IsSiteVersion ? "Character League" : "Hall of Legends";
    ViewBag.Title = title;
    string hiddenInSiteVersion = Model.IsSiteVersion ? "hidden" : "";
}



<div class="content-wrapper">

    @Html.Hidden("personId", 1)
    <div class="banner-content">
        <div class="header-block @banner">
            <h1 id="fullName">@title</h1>
        </div>
    </div>

    <div class="banner-content">
        <div class="content-block session-block">
            <table id="FullCharacterLeagueTable" class="table table-condensed">
                <colgroup>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col width="185">
                    <col>
                    <col>
                    <col>
                </colgroup>
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Points</th>
                        <th>Player</th>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Level</th>
                        <th>Awards</th>
                        <th @hiddenInSiteVersion>Campaign</th>
                        <th hidden>Meta</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var person in Model.Items)
                {
                    @Html.DisplayFor(m => person)
                }
                </tbody>
            </table>


        </div>
    </div>
</div>

<script>
    $(document).ready( function () {
        $('#FullCharacterLeagueTable').DataTable();
    } );

</script>