@using Warhammer.Core.Models
@model IEnumerable< PageLinkModel>
@if (Model.Any())
{
    foreach (PageLinkModel page in Model)
    {
        <li>@Html.ActionLink(page.FullName, "Index", "Page", new {id = page.Id}, null)</li>
    }
}