@model Warhammer.Mvc.Models.SearchModel
<div id="searchresult">


    @using (Ajax.BeginForm("Search", "Home", new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "Post", UpdateTargetId = "searchresult" }))
    {
        @Html.TextBoxFor(m => m.SearchTerm, new { @class = "search btn-block" })
        <input type="submit" value="Search" class="btn btn-block btn-success" />
        if (!string.IsNullOrEmpty(Model.SearchTerm))
        {
            <hr />

            <table class="table" id="recentActivity">
                <tbody class="list">
                @Html.DisplayFor(m => m.Results)

                </tbody>

            </table>
            if (Model.Results != null && !Model.Results.Any())
                    {
                <p class="alert alert-danger">Sorry... I got nothin...</p>
            }


        }
    }
</div>