@using Warhammer.Core.Entities
@model List<Warhammer.Mvc.Models.SessionListItemViewModel>
@{
    ViewBag.Title = "Sessions";
}

<div class="content-wrapper">

    @Html.Hidden("personId", 1)
    <div class="banner-content">
        <div class="header-block">
            <h1 id="fullName">Sessions</h1>
        </div>

    </div>

    <div class="main-content">
        <ul class="session-list">
            @Html.DisplayFor(m => Model)
        </ul>
    </div>

    <div class="side-bar">
        <div class="content-block">
        </div>
    </div>

</div>
